body {
    background-color: pink;
  }
  h1 {
    color: black;
    text-align: center;
  }
  h2 {
    text-align: center;
  }

  p {
    font-family: verdana;
    font-size: 20px;
  }
  @media screen {
    
  }
 